[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "jessfraz/dotfiles"]
	path = jessfraz/dotfiles
	url = https://github.com/jessfraz/dotfiles
[submodule "jessfraz/dockerfiles"]
	path = jessfraz/dockerfiles
	url = https://github.com/jessfraz/dockerfiles.git
