[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "jessfraz/dotfiles"]
	path = jessfraz/dotfiles
	url = https://github.com/jessfraz/dotfiles
[submodule "jessfraz/dockerfiles"]
	path = jessfraz/dockerfiles
	url = https://github.com/jessfraz/dockerfiles.git
[submodule "prefix"]
	path = prefix
	url = https://github.com/infomaniac50/prefix
[submodule "usr/local/src/disk-burnin-and-testing"]
	path = usr/local/src/disk-burnin-and-testing
	url = https://github.com/Spearfoot/disk-burnin-and-testing
