[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=TRUE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=LARGE
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=7
SortType=1
WindowWidth=1365
WindowHeight=680
HandlePosition=100
ProcessTreeView=TRUE
