[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=large
val_fontsize=3
Font=Sans 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=10
Exec_Command=false
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=3
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=569
Preferred_Height=367

[Chip0]
Name=acpitz-0
Number=0

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature1]
Id=-1
Address=1
Name=Core 0
Color=#00B000
Show=true
Min=20.00
Max=105.00

[Chip1_Feature2]
Id=-1
Address=2
Name=Core 1
Color=#00B000
Show=true
Min=20.00
Max=105.00

[Chip2]
Name=ACPI
Number=2

