[Desktop Entry]
Name=Atom
Comment=A hackable text editor for the 21st century
Exec=/bin/sh -c 'export PATH=${HOME}/.phpbrew/php/php-7.0.9/bin:${HOME}/.phpbrew/bin:${HOME}/.composer/vendor/bin:${HOME}/.npm-packages/bin:$PATH && exec /opt/atom/atom %F'
Icon=atom
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
