[Desktop Entry]
Name=Atom [Composer & NPM]
Comment=A hackable text editor for the 21st Century.
GenericName=Text Editor
Exec=/bin/bash -ic "export ELECTRON_TRASH=trash-cli; loader rvm nvm phpbrew composer && phpbrew use php-atom && exec /usr/bin/atom %F"
Icon=atom
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
Terminal=false
; Install the latest PHP with the following command template.
; Do not install the Xdebug extension! PHP-IDE-Serenata crashes if Xdebug is installed.
; phpbrew install --name=php-atom --jobs=<n cpu cores> php-<version> `cat prefix/phpbrew-variants.txt`
; --name=<name>
;     The name of the installation. By default the installed path is equal to the
;     release version name (php-5.x.x), however you can specify a custom name
;     instead of the default `php-5.x.x`. For example, `myphp-5.3.2-dbg`
; --jobs=<concurrent job number>
;     Specifies the number of jobs to run build simultaneously (make -jN).
; Make sure Atom package configs also point to .phpbrew/php/php-atom.
