[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm [PHP, Composer & NVM]
Icon=phpstorm
Exec=/bin/bash --login -ic "loader load rvm nvm phpbrew composer && phpbrew use php-atom && exec /opt/phpstorm/bin/phpstorm.sh %f"
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
X-XFCE-Source=file:///usr/share/applications/jetbrains-phpstorm.desktop
Path=
StartupNotify=false
